<div class="container max-w-5xl flex justify-start items-start flex-col">
  <h1 class="font-lora text-6xl">Dashboard</h1>
  <form>
    <div>
      <img
        src="https://images.unsplash.com/photo-1622035536415-74582a05041c"
        accept="image/*"
      />
      <h1>Name</h1>
      <h3>Bio</h3>
    </div>
    <div>
      <p>Add a profile image</p>
      <input type="file" name="image" id="file-image" />
    </div>
    <div>
      <p>Name</p>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter your name..."
      />
    </div>
    <div>
      <p>Bio</p>
      <input type="text" id="bio" name="bio" placeholder="Enter you bio..." />
    </div>
  </form>
</div>
