<div class="post bg-gray-200 my-2 p-4">
  <a [routerLink]="'posts/' + id">
    <img [src]="'https://source.unsplash.com/random?wallpaper,' + id" alt="Post cover" class="h-40 w-full object-cover">
    <h2 class="text-3xl font-mono py-2">Post Title</h2>
  </a>
  <hr class="border-solid border-gray-800">
  <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eaque aperiam minus facilis delectus, exercitationem nihil rerum suscipit dolore ex itaque officiis reiciendis quibusdam facere nostrum debitis sunt numquam saepe.</p>
</div>
<div class="post bg-gray-200 my-2 p-4">
  <a [routerLink]="'posts/' + id">
    <img [src]="'https://source.unsplash.com/random?wallpaper,' + id" alt="Post cover" class="h-40 w-full object-cover">
    <h2 class="text-3xl font-mono py-2">Post Title</h2>
  </a>
  <hr class="border-solid border-gray-800">
  <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eaque aperiam minus facilis delectus, exercitationem nihil rerum suscipit dolore ex itaque officiis reiciendis quibusdam facere nostrum debitis sunt numquam saepe.</p>
</div>
