<div class="post bg-gray-200 my-2 p-4">
  <a [routerLink]="'posts/' + id" *ngIf="link == 'yes'; else elseBlock">
    <img [src]="'https://source.unsplash.com/random?wallpaper?a=' + id" alt="Post cover" class="h-40 w-full object-cover">
    <h2 class="text-xl font-mono py-2">{{ title }}</h2>
  </a>
  <ng-template class="" #elseBlock>
    <img [src]="'https://source.unsplash.com/random?wallpaper?a=' + id" alt="Post cover" class="h-40 w-full object-cover">
    <h2 class="text-xl font-mono py-2">{{ title }}</h2>
  </ng-template>
  <hr class="border-solid border-gray-800">
  <p class="pt-2">{{ content }}</p>
</div>
