<div class="post bg-primary border-2 border-gray-600 my-4 p-4 rounded-lg hover:shadow-lg">
  <a [routerLink]="'/posts/' + id" *ngIf="link == 'yes'; else elseBlock">
    <img
      [src]="'https://source.unsplash.com/random?nature,forest&a=' + id"
      alt="Post cover"
      class="h-72 w-full object-cover rounded-lg"
    />
    <h2
      class="text-white text-3xl font-semibold py-2 hover:underline"
    >
      {{ title }}
    </h2>
    <hr class="border-solid border-gray-400" />
    <p class="pt-2 text-white">{{ content }}</p>
  </a>
  <ng-template #elseBlock>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <img
        [src]="'https://source.unsplash.com/random?nature,forest&a=' + id"
        alt="Post cover"
        class="h-auto w-full object-contain rounded-lg"
      />
      <div class="text ml-0 md:ml-8">
        <h2
          class="text-white text-3xl font-semibold py-2"
        >
          {{ title }}
        </h2>
        <hr class="border-solid border-gray-400" />
        <p class="pt-2 text-white">{{ content }}</p>
      </div>
    </div>
  </ng-template>
</div>
