<div class="post bg-primary border-2 border-gray-600 my-4 p-6 rounded-lg">
  <a [routerLink]="'posts/' + id" *ngIf="link == 'yes'; else elseBlock">
    <img
      [src]="'https://source.unsplash.com/random?nature,forest&a=' + id"
      alt="Post cover"
      class="h-64 w-full object-cover"
    />
    <h2
      class="text-title text-3xl font-lora font-semibold py-2 hover:underline"
    >
      {{ title }}
    </h2>
    <hr class="border-solid border-gray-400" />
    <p class="pt-2 text-body">{{ content }}</p>
  </a>
  <ng-template #elseBlock>
    <div class="flex">
      <img
        [src]="'https://source.unsplash.com/random?nature,forest&a=' + id"
        alt="Post cover"
        class="h-96 w-auto object-contain"
      />
      <div class="text ml-8">
        <h2
          class="text-title text-3xl font-lora font-semibold py-2"
        >
          {{ title }}
        </h2>
        <hr class="border-solid border-gray-400" />
        <p class="pt-2 text-body">{{ content }}</p>
      </div>
    </div>
  </ng-template>
</div>
